<%- include('../partials/header.ejs') %>

<% if (poster === undefined) { %>
    <!-- Shows all posts in a database -->
    <h1 id="feed-title">All Posts</h1>
<% } else { %>
    <!-- Shows all post by a certain user -->
    <h1 id="feed-title"><%= poster %>'s Posts</h1>
<% } %>
<div id="feed">
    <% for (const post of posts) { %>
        <div class="post">
            <img class="post-cat" src="<%= post.img %>"/>
            <a class="post-link" href="/catspotting/<%= post._id %>"><h2 class="post-title"><%=post.title %></h2>
            <h3>Spotted in <%= post.location %> by <%= post.poster %></h3>
            <p class="post-date"><span class="post-comments">Comments: <%= post.comments.length %></span><%= months[post.createdAt.getUTCMonth()] %> 
                <%= post.createdAt.getUTCDate() %> <%= post.createdAt.getUTCFullYear() %></p></a>        </div>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %>
