<%- include('../partials/header.ejs') %>

<div id="feed">
    <% for (const post of posts) { %>
        <div class="post">
            <img src="<%= post.img %>"/>
            <a href="/catspotting/<%= post._id %>"><h2><%=post.title %></h2></a>
            <h3><%= post.location %></h3>
            <h4>Posted at <%= post.createdAt %></h4>
            <p><%= post.description %></p>
        </div>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %>
