<%- include('../partials/header.ejs') %>

    <script type="text/javascript" async defer src="/js/posts/gmap-inits.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=fullMap"></script>
    
    <div id="full-map"></div>
    <% for (const post of posts) {
        if (post.latitude !== null && post.longitude !== null) { %>
            <div class="locations" id="<%= post._id %>" title="<%= post.title %>" img="<%= post.img %>" lat="<%= post.latitude %>" lng="<%= post.longitude %>"></div>
        <% }
    } %>

<%- include('../partials/footer.ejs') %>
