<%- include('../partials/header.ejs') %>

<!-- Google Maps API JS Functions and Callback -->
<script type="text/javascript" async defer src="/js/posts/gmap-inits.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=fullMap"></script>

<div id="full-map"></div>
<!-- Loop to create invisible div containers with lat and lng attributes
     this is done so the API can generate the map client side  -->
<% for (const post of posts) {
    if (post.latitude !== null && post.longitude !== null) { %>
        <div class="locations" id="<%= post._id %>" title="<%= post.title %>" img="<%= post.img %>" lat="<%= post.latitude %>" lng="<%= post.longitude %>"></div>
    <% }
} %>

<%- include('../partials/footer.ejs') %>
