<%- include('../partials/header.ejs') %>

<div class="post">
    <h2 class="post-title"><%=post.title %></h2>
    <h4>Spotted by <%= post.poster %> on <%= days[post.createdAt.getUTCDay()] %> <%= months[post.createdAt.getUTCMonth()] %> 
        <%= post.createdAt.getUTCDate() %> <%= post.createdAt.getUTCFullYear() %> 
        <%= post.createdAt.getUTCHours() - (post.createdAt.getTimezoneOffset() / 60) %>:<%= post.createdAt.getUTCMinutes().toString(10).padStart(2, '0') %></h4>
    <img class="full-cat" src="<%= post.img %>"/>
    <p class="description"><%= post.description %></p>
    <% if (post.latitude !== null && post.longitude !== null && post.location !== "Unlisted") { %>
        <div id="show-map"></div>
    <% } %>
    <h3>Spotted in <%= post.location %></h3>
    <% if (currentUser && currentUser.username === post.poster) { %>
        <div class="modify-buttons">
            <a href="/catspotting/<%= post._id %>/edit"><button type="button">Edit Post</button></a>
            <form id="delete-form" action="/catspotting/<%= post._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete? This cannot be undone')">
                <button id="delete-button" type="submit">Delete Post</button>
            </form>
        </div>
    <% } %>
    <h2>Comments</h2>
    <% for (const comment of post.comments) { %>
        <div class="comment">
            <h4 class="commenter"><%= comment.user %></h4>
            <p class="comment-text"><%= comment.text %></p>
        </div>
    <% } %>
    <form id="make-comment" action="/catspotting/<%= post._id %>" method="POST">
        <label for="text">Comment</label>
        <textarea id="make-text" name="text"></textarea>
        <button id="comment-button" type="submit">Post Comment</button>
    </form>
    <a class="go-back" href="/catspotting">Go Back</a>
</div>
<% if (post.latitude !== null && post.longitude !== null && post.location !== "Unlisted") { %>
<script type="text/javascript">
    function showMap() {
        //Google Map initializer
        const myLatlng = { lat: <%= post.latitude %>, lng: <%= post.longitude %> };
        const map = new google.maps.Map(document.getElementById("show-map"), {
            gestureHandling: "none",
            zoom: 13,
            center: myLatlng
        });
        let marker = new google.maps.Marker({
            position: myLatlng
        })
        marker.setMap(map);
    };
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=showMap"></script>
<% } %>

<%- include('../partials/footer.ejs') %>
