<%- include('../partials/header.ejs') %>

<div class="post">
    <h2><%=post.title %></h2>
    <h4>From <%= post.poster %></h4>
    <h4><%= days[post.createdAt.getUTCDay()] %> <%= months[post.createdAt.getUTCMonth()] %> 
        <%= post.createdAt.getUTCDate() %> <%= post.createdAt.getUTCFullYear() %> 
        <%= post.createdAt.getUTCHours() - (post.createdAt.getTimezoneOffset() / 60) %>:<%= post.createdAt.getUTCMinutes() %></h4>
    <img class="full-cat" src="<%= post.img %>"/>
    <h3><%= post.location %></h3>
    <% if (post.latitude !== null && post.longitude !== null && post.location !== "Unlisted") { %>
        <div id="show-map"></div>
        <% } %>
    <p><%= post.description %></p>
    <% if (currentUser && currentUser.username === post.poster) { %>
        <a href="/catspotting/<%= post._id %>/edit">Edit Post</a>
        <form action="/catspotting/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Post</button>
        </form>
    <% } %>
    <a class="go-back" href="/catspotting">Go Back</a>
</div>
<script type="text/javascript">
    function showMap() {
        //Google Map initializer
        const myLatlng = { lat: <%= post.latitude %>, lng: <%= post.longitude %> };
        const map = new google.maps.Map(document.getElementById("show-map"), {
            gestureHandling: "none",
            zoom: 15,
            center: myLatlng
        });
        let marker = new google.maps.Marker({
            position: myLatlng
        })
        marker.setMap(map);
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=showMap"></script>

<%- include('../partials/footer.ejs') %>
