<%- include('../partials/header.ejs') %>

<h1 id="feed-title"><%= poster %>'s Posts</h1>
<div id="feed">
    <% for (const post of posts) { %>
        <div class="post">
            <img class="post-cat" src="<%= post.img %>"/>
            <a class="post-link" href="/catspotting/<%= post._id %>"><h2 class="post-title"><%=post.title %></h2>
            <h3>Spotted in <%= post.location %> by <%= post.poster %></h3></a>
            <p class="post-date"><%= months[post.createdAt.getUTCMonth()] %> 
                <%= post.createdAt.getUTCDate() %> <%= post.createdAt.getUTCFullYear() %></p>
        </div>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %>
